@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
  body {
      margin: 0;
      padding: 0;
  }
  .resume-container {
      width: 100%;
      height: 279mm;
      page-break-inside: avoid;
  }
}